In [33]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv('job_data_cleaned.csv')

In [35]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'state', 'age', 'python',
       'r_studio', 'spark', 'aws', 'tableau', 'excel', 'ml'],
      dtype='object')

In [36]:
def job_title_cleaning(title):
    if 'data scientist' in title.lower():
        return 'data_scientist'
    elif 'data engineer' in title.lower():
        return "data_engineer"
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [37]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower():
        return 'junior'
    else:
        return 'na'

In [40]:
df['job_simplified'] = df['Job Title'].apply(job_title_cleaning)
df['seniority'] = df['Job Title'].apply(seniority)

In [41]:
df.job_simplified.value_counts()

data_scientist    503
na                171
data_engineer      57
analyst            37
mle                19
manager             9
director            4
Name: job_simplified, dtype: int64

In [42]:
df.seniority.value_counts()

na        600
senior    200
Name: seniority, dtype: int64

In [ ]:
df.state.value_counts()

CA          122
TX           68
VA           65
NY           50
MA           46
MD           39
remote       36
-1           32
WA           31
PA           30
IL           25
DC           24
GA           24
NJ           22
OH           20
AZ           19
FL           18
NC           14
MN           12
WI           10
UT           10
AL            7
IA            7
MI            7
KS            6
CT            6
MO            6
SC            5
NV            5
CO            5
OR            4
IN            4
DE            3
ME            2
PR            2
TN            2
ID            2
KY            2
Arapahoe      1
NM            1
AK            1
WV            1
RI            1
HI            1
LA            1
NE            1
Name: state, dtype: int64